.content {
  display: grid;
  gap: 1.5rem;
  align-items: start;

  @media (min-width: 56.25rem) {
    grid-template-columns: minmax(0, 1fr) max-content;
    gap: 3rem;
  }
}

.title {
  font-size: 1.625rem;
  line-height: 1.2;
}

.description {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, max(7rem, calc(50% - 0.75rem))), 1fr));
  gap: 0.5rem 1.5rem;

  @media (min-width: 56.25rem) {
    grid-template-columns: repeat(2, max-content);
  }
}

.linkRow {
  padding-inline: 0.75rem;
}

.monochromeIcon path {
  fill: currentcolor;
}

@media (min-width: 56.25rem) {
  .title {
    font-size: 2rem;
  }
}
