.header {
  height: 3.75rem;
  background: linear-gradient(
    to bottom,
    var(--background),
    color-mix(in oklab, var(--background) 80%, transparent) 55%,
    color-mix(in oklab, var(--background) 0%, transparent)
  );
}

.navigation {
  padding-inline: 1.125rem;
}

.summary::-webkit-details-marker {
  display: none;
}

@media (min-width: 64rem) {
  .header {
    height: 4.75rem;
  }

  .navigation {
    padding-inline: 12.5rem;
  }
}
