.header {
  height: var(--site-header-height);
  background: linear-gradient(
    to bottom,
    var(--background),
    color-mix(in oklab, var(--background) 80%, transparent) 55%,
    color-mix(in oklab, var(--background) 0%, transparent)
  );
}

.navigation {
  padding-inline: var(--site-header-padding-inline);
}

.summary::-webkit-details-marker {
  display: none;
}
