.projects {
  scroll-margin-top: 0.25rem;
  padding-block: 3.5rem;
}

@media (min-width: 64rem) {
  .projects {
    scroll-margin-top: -2.75rem;
    padding-block: 6.5rem;
  }

}

@media (min-width: 80rem) {
  .projects {
    scroll-margin-top: -1.75rem;
  }
}
